:root{
    --main: black;
    --light: #828282;
    --green: #1DB954;
}

body{
    font-family: 'DM Sans', sans-serif;
}

header{
    display: flex;
    padding: 10px;
}

h1{
    font-size: 100px;
    color: var(--main);
    margin: auto;
    text-shadow: 1px 1px 4px var(--light);
}

#container{
    box-shadow: var(--green) 0px 13px 27px -5px, var(--green) 0px 8px 16px -8px;
    /* box-shadow: var(--green) 0px 5px 15px; */
    border-radius: 15px;
    padding: 70px 0 70px 0;
    margin: 0 200px 0 200px;
    background-color: var(--main);
}

#searchBox{
    display: flex;
    flex-direction: column;
}

.textfield{
    width: 400px;
    height: 50px;
    border: 1px solid var(--green);
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 0 30px;
}

#arrow{
    color: var(--green);
}

#play-btn{
    color: white;
}

.searchBtn{
    background-color: var(--main);
    color: var(--green);
    margin: auto;
    margin-top: 50px;
    padding: 0 20px;
    cursor: pointer;
    width: 400px;
    font-size: 50px;
    border: 3px solid var(--green);
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
}

.headline{
    color: white;
    padding: 20px;
}

#playlistResult{
    background-color: white;
    margin: auto;
}

#playlist{
    padding: 5px 20px;
}

.suggestionsLinks{
    background-color: white;
    width: 300px;
    margin: auto;
    border-radius: 2px;
}

.suggestion{
    color: var(--green);
    padding: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.suggestion:hover{
    color: gray;
}

#leftInput{
    margin: auto;
    display: flex;
    flex-direction: column;
}

#rightInput{
    margin: auto;
    display: flex;
    flex-direction: column;
}

#searchDiv{
    margin: auto;
}